@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

/*JavaScript FILE CANVAS STARTS HERE*/
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1f1e33;
    z-index: -1;
}
/*JS ENDS HERE*/

body {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    overflow: auto;   
}

body::-webkit-scrollbar {
    width: 100%;
    overflow-y: hidden;
    padding-right: auto;
}

/*HEADER STARTS HERE*/
header {
    height: 100vh;
    width: 100vw;
    /*border: solid black 1px;*/
    color: white;
    font-size: 40px;
}

section {
    background-color: white;
}


.socials {
    display: flex;
    padding-right: 25px;
    padding-left: 5px;
}

.social {
    margin-right: 20px;
    margin-left: 5px;
}

.icon:hover {
    fill: #efecfe;
    opacity: 1;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px;
    transition: all 0.3s ease;
    justify-content: space-between;
}
.navbar.sticky{
    padding: 12px 10px 15px 10px;
    background: #1f1e33;
}
.navbar .max-wid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-wid{
    padding: 0 10px;
    margin: auto;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #a0a0a0;
    font-size: 30px;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;

}
.navbar .menu li a:hover{
    color: #efecfe;
}
.navbar.sticky .menu li a:hover{
    color: #efecfe;
}

/* menu btn styling */

.menu-btn{
    color: #a0a0a0;
    position: relative;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.menu-btn {
    color: #efecfe;
}

.menu-btn:after {
    content: "";
    position: absolute;
    background-color: #FF99CC;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.menu-btn:hover:after {
    width: 100%;
}



@media (max-width: 991px) {
    .max-wid{
        padding: 0 10px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-wid{
        max-width: 930px;
    }
    .menu-btn:after {
        content: "";
        position: absolute;
        background-color: #FF99CC;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }
    .menu-btn:hover:after {
        width: 100%;
    }
}

@media (max-width: 690px) {
    .max-wid{
        padding: 0 23px;
    }
}

@media (max-width: 500px) {
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .menu-btn:after {
        content: "";
        position: absolute;
        background-color: #FF99CC;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }
    .menu-btn:hover:after {
        width: 100%;
    }
}












/*NAV BAR STARTS HERE
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li{
    text-decoration: none;
}

.li-color {
    color: #a0a0a0;
    position: relative;
    text-decoration: none;
}

.li-color:hover {
    color: #BFBFBF;
}

.li-color:after {
    content: "";
    position: absolute;
    background-color: #3E3C66;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.li-color:hover:after {
    width: 100%;
}

/*SOCIALS STARTS HERE
.socials {
    display: flex;
    padding-right: 25px;
    padding-left: 5px;
}

.social {
    margin-right: 20px;
    margin-left: 5px;
}

.icon:hover {
    fill: #BFBFBF;
    opacity: 1;
}
/*SOCIALS ENDS HERE*/

/*NAV BURGER STARTS HERE
.burger {
    display: none;
}

.burger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .burger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: center;
    }

    ul {
        display: none;
        background-color: #484b5f;
        margin: 0px;
    }
    
    ul.show {
        display: block;
        transition: none;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #484b5f;
    }

    .socials {
        display: none;
    }
}
/*NAV BURGER ENDS HERE*/
/*NAV BAR ENDS HERE*/

/*ANIMATED TEXT STARTS HERE*/
:root {
    --bg-color: #1f1e33;
    --typewriterSpeed: 4s;
    --typewriterChar: 31;
}

h1 {
    font-size: 4vw/*clamp(1rem, 3vw + 1rem, 4rem)*/;
    position: relative;
    color: #E0D753;
    width: max-content;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp ease 
    calc(var(--typewriterSpeed)) forwards;
}


/*h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterChar)) 1s forwards;
}

h1::after {
    width: 0.125em;
    background: #8f8e8c;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterChar)) 1s forwards,
        blink 750ms steps(31) infinite;
}*/

.subtitle {
    font-size: 2vw;
    font-weight: 400;
    color: #8F8D9E;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 
    calc(var(--typewriterSpeed) + 1s) forwards;
}

/*@keyframes typewriter {
    to { 
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}*/

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*ANIMATED TEXT ENDS HERE*/

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.header-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    text-align: center;
    margin: auto;
    /*margin-left: 80px;
    margin-bottom: 200px;*/
}

/*ABOUT BUTTON STARTS HERE
.button-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.button a {
    color: white;
    text-decoration: none;
}

.button {
    position: relative;
    text-align: center;
    width: 100%;
    padding:  0.25rem 0.35rem;
    font-size: calc(1rem + 1vw);
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    border: 5px solid #3E3C66;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
    transition: 1.5s;
    display: block;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 
    calc(var(--typewriterSpeed) + 2s) forwards;
}

.button:hover {
    box-shadow:0 2px 8px -1px rgba(0,0,0,0.5),
               0 0 16px 4px #3E3C66,
               0 0 6px 2px #3E3C66;
}
/*ABOUT BUTTON ENDS HERE*/
/*HEADER ENDS HERE*/

/*ABOUT SECTION STARTS HERE*/
/*h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 300px 80px;
    background: linear-gradient(180deg, #FF99CC, #E0D753, rgb(204, 204, 255));
}

@media only screen and (max-width: 1000px) {
    .sub-section {
        display: flex;
        flex-wrap: wrap;
    }
}

.shot {
    width: 300px;
    border-radius: 150px;
}

.shot-container {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .shot {
        max-width: 100%;

    }
}
/*ABOUT SECTION ENDS HERE*/



/* all similar content styling codes */
section{
    padding: 200px 0;
    background-color: #100F1A;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about {
    font-family: 'Roboto Mono', monospace;
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
    background: -webkit-linear-gradient(right, #FF99CC, #E0D753, #FF99CC, #E0D753);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #807332;
    transform: translateX(-50%);
}



/* about section styling */

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 100px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #EFECFE;
}

.about .about-content .right p{
    text-align: justify;
    font-size: 25px;
    color: #AAA8BE;
}
.about .about-content .right a{
    display: inline-block;
    background: #FF99CC;
    color: #1f1e33;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #FF99CC;
    transition: all 0.3s ease;
    text-decoration: none;
}
.about .about-content .right a:hover{
    color: #FF99CC;
    background: none;
}





/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    
}

@media (max-width: 500px) {
    
    .about .about-content .right .text,
     .left .text{
        font-size: 19px;
    }
}
/*about section end here*/


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.project {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3E3C66;
    overflow: hidden;
}
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: 'Roboto Mono', monospace;
    border-radius: 18px;
    background: rgba(255,255,255,0.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
    text-align: center;
    margin: 30px;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card-image {
    grid-area: image;
    background: url("../src/images/minesweeper.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}

.card-text .code {
    color: #E0D753;
    font-size: 13px;
}

.card-text p {
    color: #DAD0FF;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #FF99CC;
}

.card-text a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

/*card2*/
.card-image2 {
    grid-area: image;
    background: url("../src/images/tiktok3.svg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text2 {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}

.card-text2 .code {
    color: #E0D753;
    font-size: 13px;
}

.card-text2 p {
    color: #DAD0FF;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

.card-text2 h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #FF99CC;
}

.card-text2 a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/*card3*/
.card-image3 {
    grid-area: image;
    background: url("../src/images/E52XIh6VIAAsK50.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text3 {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}

.card-text3 .code {
    color: #E0D753;
    font-size: 13px;
}

.card-text3 p {
    color: #DAD0FF;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

.card-text3 h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #FF99CC;
}

.card-text3 a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/*card4*/
.card-image4 {
    grid-area: image;
    background: url("../src/images/rings.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text4 {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}

.card-text4 .code {
    color: #E0D753;
    font-size: 13px;
}

.card-text4 p {
    color: #DAD0FF;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

.card-text4 h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #FF99CC;
}

.card-text4 a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1000px) {
    .projects-cards {
        display: flex;
        flex-wrap: wrap;
        max-height: 100%;
    }
}

.project {
    font-family: 'Roboto Mono', monospace;
}
.project .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}











/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    
}

@media (max-width: 500px) {
    
    .about .about-content .right .text,
     .left .text{
        font-size: 19px;
    }
}








/*PROJECT SECTION STARTS HERE
.alt-sub-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    background: linear-gradient(180deg, #1f1e33, #3E3C66, rgb(204, 204, 255));
}

.project-tile {
    width: auto;
    height: 500px;
    box-shadow: 5px 5px 20px gray;
    margin: 10px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 80px;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}
.project-link {
    text-decoration: none;
    color: coral;
}
/*PROJECT SECTION ENDS HERE*/

/*.projects .carousel .card {
background: blue;
border-radius: 6px;
padding: 25px 35px;
}

.projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid red;
}*/



/*TOP ARROW STARTS HERE*/
.top-arrow {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.top-arrow.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
/*TOP ARROW ENDS HERE*/

/*FOOTER STARTS HERE*/
footer {
    background-color: #100F1A;
    color: #E0D753;
    text-align: center;
}

.footer-container {
    width: 90%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 18px;
    padding-bottom: 18px;
}

.size {
    font-size: 13px;
    opacity: 0.7;
}
/*FOOTER ENDS HERE*/

/*.contact-box {
    margin-top: 35px;
    width: 26%;
    background-color: #1F1E33;
    left: 5%;
    position: absolute;
    border-radius: 15px;
}

.contact-box h2{
    padding-left: 20px;
    padding-top: 7px;
}

form {
    margin: 20px;
    margin-top: 0;
}

.input-field {
    width: 460px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px 1px 1px 1px #999;
    border-radius: 14px;
    outline: none;
    background: transparent;
    transition: 0.5s;
    color: #BFBFBF;
}

.text-area {
    height: 100px;
    padding-top: 10px;
}

.input-field:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

.form-btn {
    border-radius: 20px;
    color: #E0D753;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 12px;
    border: 5px solid #E0D753;
    cursor: pointer;
    background-color: #1F1E33;
    transition: 1s;
    font-weight: bold;
    float:right;
}

.form-btn:hover {
    box-shadow: 0 5px 50px 0 #E0D753 inset, 0 5px 50px 0 #E0D753 inset, 0 5px 50px 0 #E0D753 inset, 0 5px 50px 0 #E0D753 inset;
    /*text-shadow: 0 0 5px #1f1f1f, 0 0 5px #1f1f1f;
    color: #1F1E33;
}*/