@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    overflow: auto;   
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 100%;
    overflow-y: hidden;
    padding-right: auto;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 200px 0;
    background-color: #100F1A;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* JavaScript FILE CANVAS STARTS HERE */
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1f1e33;
    z-index: -1;
}
/* JS ENDS HERE */

/* HEADER STARTS HERE */
header {
    height: 100vh;
    width: 100vw;
    /*border: solid black 1px;*/
    color: white;
    font-size: 40px;
}

/* NAV STARTS HERE */
/* SOCIALS STARTS HERE */
.socials {
    display: flex;
    padding-right: 25px;
    padding-left: 5px;
}

.social {
    margin-right: 20px;
    margin-left: 5px;
}

.icon:hover {
    fill: #efecfe;
    opacity: 1;
}
/* SOCIALS ENDS HERE */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px;
    transition: all 0.3s ease;
    justify-content: space-between;
}

.navbar.sticky {
    padding: 12px 10px 20px 10px;
    background: #1f1e33;
}

.navbar .max-wid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-wid {
    padding: 0 10px;
    margin: auto;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #a0a0a0;
    font-size: 30px;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;

}

.navbar .menu li a:hover {
    color: #efecfe;
}

.navbar.sticky .menu li a:hover {
    color: #efecfe;
}

.menu-btn {
    color: #a0a0a0;
    position: relative;
    text-decoration: none;
    font-size: 30px;
    display: none;
}

.menu-btn {
    color: #efecfe;
}

.menu-btn:after {
    content: "";
    position: absolute;
    background-color: #FF99CC;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.menu-btn:hover:after {
    width: 100%;
}
/* NAV ENDS HERE */

/* HEADER AREA STARTS HERE */
:root {
    --bg-color: #1f1e33;
    --typewriterSpeed: 4s;
    --typewriterChar: 31;
}

h1 {
    font-size: 4vw;
    position: relative;
    color: #E0D753;
    text-shadow: 1px 1px 2px #1f1e33;
    width: max-content;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp ease 
    calc(var(--typewriterSpeed)) forwards;
}

.subtitle {
    font-size: 2vw;
    font-weight: 400;
    color: #8F8D9E;
    text-shadow: 1px 1px 2px #1f1e33;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 
    calc(var(--typewriterSpeed) + 1s) forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.header-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    text-align: center;
    margin: auto;
}
/* HEADER AREA ENDS HERE */
/* HEADER ENDS HERE */

/* ABOUT ME STARTS HERE */
.about {
    font-family: 'Roboto Mono', monospace;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
    background: -webkit-linear-gradient(right, #FF99CC, #E0D753, #FF99CC, #E0D753);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #807332;
    transform: translateX(-50%);
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 100px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #EFECFE;
}

.about .about-content .right p {
    text-align: justify;
    font-size: 25px;
    color: #AAA8BE;
}

.about .about-content .right a {
    display: inline-block;
    background: #FF99CC;
    color: #1f1e33;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #FF99CC;
    transition: all 0.3s ease;
    text-decoration: none;
}

.about .about-content .right a:hover {
    color: #FF99CC;
    background: none;
}
/* ABOUT ME ENDS HERE */

/* PROJECTS START HERE */
.project {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3E3C66;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}

.project .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.js-tilt-glare {
    border-radius: 18px;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: 'Roboto Mono', monospace;
    border-radius: 18px;
    background: rgba(255,255,255,0.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
    text-align: center;
    margin: 30px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card-image {
    grid-area: image;
    background: url("../src/images/minesweeper.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}

.card-text .code {
    color: #E0D753;
    font-size: 13px;
}

.card-text p {
    color: #DAD0FF;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #FF99CC;
}

.card-text a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* CARD 2 */
.card-image2 {
    grid-area: image;
    background: url("../src/images/tiktok3.svg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text2 {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}

.card-text2 .code {
    color: #E0D753;
    font-size: 13px;
}

.card-text2 p {
    color: #DAD0FF;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

.card-text2 h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #FF99CC;
}

.card-text2 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* CARD 3 */
.card-image3 {
    grid-area: image;
    background: url("../src/images/2573598.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    background-color: #FFFFFF;

}

.card-text3 {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}

.card-text3 .code {
    color: #E0D753;
    font-size: 13px;
}

.card-text3 p {
    color: #DAD0FF;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

.card-text3 h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #FF99CC;
}

.card-text3 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* CARD 4 */
.card-image4 {
    grid-area: image;
    background: url("../src/images/rings.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text4 {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}

.card-text4 .code {
    color: #E0D753;
    font-size: 13px;
}

.card-text4 p {
    color: #DAD0FF;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

.card-text4 h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #FF99CC;
}

.card-text4 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/* PROJECTS ENDS HERE */

/* TOP ARROW STARTS HERE */
.top-arrow {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.top-arrow.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
/* TOP ARROW ENDS HERE */

/* FOOTER STARTS HERE */
footer {
    background-color: #100F1A;
    color: #E0D753;
    text-align: center;
}

.footer-container {
    width: 90%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 18px;
    padding-bottom: 18px;
}

.size {
    font-size: 13px;
    opacity: 0.7;
}
/* FOOTER ENDS HERE */

/* RESPONSIVE MEDIA QUERIES STARTS HERE */
/* NAV MEDIA QUERY */
@media (max-width: 991px) {
    .max-wid{
        padding: 0 10px;
    }
}
@media (max-width: 947px) {
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-wid {
        max-width: 930px;
    }
    .menu-btn:after {
        content: "";
        position: absolute;
        background-color: #FF99CC;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }
    .menu-btn:hover:after {
        width: 100%;
    }
}

@media (max-width: 690px) {
    .max-wid {
        padding: 0 23px;
    }
}

@media (max-width: 500px) {
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .menu-btn:after {
        content: "";
        position: absolute;
        background-color: #FF99CC;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }
    .menu-btn:hover:after {
        width: 100%;
    }
}

/* ABOUT ME MEDIA QUERY */
@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    
}

@media (max-width: 500px) {
    
    .about .about-content .right .text,
     .left .text {
        font-size: 19px;
    }
}

/* PROJECT MEDIA QUERY */
@media only screen and (max-width: 1000px) {
    .projects-cards {
        display: flex;
        flex-wrap: wrap;
        max-height: 100%;
    }
}
/* RESPONSIVE MEDIA QUERIES ENDS HERE */